### Importing the Packages

In [1]:
import pandas as pd
import numpy as np

### Importing the data

In [2]:
raw_csv_data = pd.read_csv("Index2018.csv") 
df_comp=raw_csv_data.copy()

### Lenght of the Time Period

In [3]:
# The top is arbitrary chosen, as all the date value are the same at 1, so it's randomly chosen which to display
df_comp.date.describe()

count           6269
unique          6269
top       26/10/2006
freq               1
Name: date, dtype: object

In [4]:
df_comp

            date          spx       dax         ftse    nikkei
0     07/01/1994   469.900000   2224.95  3445.980000  18124.01
1     10/01/1994   475.270000   2225.00  3440.580000  18443.44
2     11/01/1994   474.130000   2228.10  3413.770000  18485.25
3     12/01/1994   474.170000   2182.06  3372.020000  18793.88
4     13/01/1994   472.470000   2142.37  3360.010000  18577.26
...          ...          ...       ...          ...       ...
6264  23/01/2018  2839.130362  13559.60  7731.827774  24124.15
6265  24/01/2018  2837.544008  13414.74  7643.428966  23940.78
6266  25/01/2018  2839.253031  13298.36  7615.839954  23669.49
6267  26/01/2018  2872.867839  13340.17  7665.541292  23631.88
6268  29/01/2018  2853.528411  13324.48  7671.533300  23629.34

[6269 rows x 5 columns]

### From Text to Date

In [30]:
df_comp['date'] = pd.to_datetime(df_comp['date'], dayfirst=True)

In [23]:
pd.to_datetime(df_comp['date'], format='%d/%m/%Y')[0]

Timestamp('1994-01-07 00:00:00')

In [29]:
from datetime import datetime as dt
dt.strptime(df_comp["date"][0], '%d/%m/%Y')

datetime.datetime(1994, 1, 7, 0, 0)

### Setting the Index

In [31]:
df_comp.set_index('date', inplace=True)

In [40]:
df_comp.index[0].dayofweek

4

In [43]:
df_comp.index[0].weekday()

4

In [51]:
print(df_comp.index[0].month)
print(df_comp.index[0].day)
print(df_comp.index[0].year)

1
7
1994

### Setting the Desired Frequency

In [55]:
# 'h' hourly, 'w' weekly, 'd' daily, 'm' monthly, 'a' annually, 'b' business day
df_comp = df_comp.asfreq('b')

In [56]:
df_comp

                    spx       dax         ftse    nikkei
date
1994-01-07   469.900000   2224.95  3445.980000  18124.01
1994-01-10   475.270000   2225.00  3440.580000  18443.44
1994-01-11   474.130000   2228.10  3413.770000  18485.25
1994-01-12   474.170000   2182.06  3372.020000  18793.88
1994-01-13   472.470000   2142.37  3360.010000  18577.26
...                 ...       ...          ...       ...
2018-01-23  2839.130362  13559.60  7731.827774  24124.15
2018-01-24  2837.544008  13414.74  7643.428966  23940.78
2018-01-25  2839.253031  13298.36  7615.839954  23669.49
2018-01-26  2872.867839  13340.17  7665.541292  23631.88
2018-01-29  2853.528411  13324.48  7671.533300  23629.34

[6277 rows x 4 columns]

### Handling Missing Values

### Simplifying the Dataset

### Splitting the Data